.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.Modal {
  background-color: white;
  width: 300px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.Modal-body input[type="text"],
.Modal-body input[type="number"],
.Modal-body textarea {
  border: 1px solid black;
  border-radius: 1px;
}
